.toilet-info
  .toilet-info__box
    = link_to posts_searches_path, class: 'toilet-info__box__search' do
      トイレを検索する

    = link_to new_post_path, class: 'toilet-info__box__register' do
      トイレを登録する


