.form
  .form__message    　
  .form__box
    = form_with(model: @post, local: true) do |f| 
      = f.text_area :area, class: 'form__box__text', placeholder: '(例)渋谷区'
      = f.text_area :text, class: 'form__box__area', placeholder: '施設名'
      = f.submit '送信', class: 'form__box__submit'

